{% extends 'layout/layout_page.html.twig' %}
{% block body %}
    <div id="page-content">
        <div class="container">
            <div class="page-content">
                <div class="about-us">
                    <h3><strong>About</strong> Globo</h3>

                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
                            Cras vel lorem. Etiam pellentesque aliquet tellus.
                            Phasellus pharetra nulla ac diam. Quisque semper justo at risus.</strong></p>

                    <p>Donec venenatis, turpis vel hendrerit interdum,
                        dui ligula ultricies purus, sed posuere libero dui id orci.
                        Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu,
                        vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis.
                        Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat,
                        purus sapien ultricies dolor, et mollis pede metus eget nisi.
                        Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus,
                        urna quam viverra nisi, in interdum massa nibh nec erat.</p>

                    <h3 class="team"><strong>Our</strong> Team</h3>

                    <div class="row">

                        <div class="col-md-6 col-sm-6 col-lg-3">
                            <div class="member-details">
                                <div class="porfile-pic">
                                    <img src="img/content/team-member-1.jpg" alt="">

                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>

                                <h3><a href="#">Abu Antar</a></h3>

                                <p class="title">Ceo</p>

                                <p>Donec venenatis, turpis vel hendrerit interdum,
                                    dui ligula ultricies purus, sed posuere libero dui id orci.</p>

                            </div> <!-- end member-details -->
                        </div> <!-- end grid-layout -->

                        <div class="col-md-6 col-sm-6 col-lg-3">
                            <div class="member-details">
                                <div class="porfile-pic">
                                    <img src="img/content/team-member-2.jpg" alt="">

                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>

                                <h3><a href="#">John Doe</a></h3>

                                <p class="title">Co-Founder</p>

                                <p>Donec venenatis, turpis vel hendrerit interdum,
                                    dui ligula ultricies purus, sed posuere libero dui id orci.</p>

                            </div> <!-- end member-details -->
                        </div> <!-- end grid-layout -->

                        <div class="col-md-6 col-sm-6 col-lg-3">
                            <div class="member-details">
                                <div class="porfile-pic">
                                    <img src="img/content/team-member-3.jpg" alt="">

                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>

                                <h3><a href="#">Jane Doe</a></h3>

                                <p class="title">Pr</p>

                                <p>Donec venenatis, turpis vel hendrerit interdum,
                                    dui ligula ultricies purus, sed posuere libero dui id orci.</p>

                            </div> <!-- end member-details -->
                        </div> <!-- end grid-layout -->

                        <div class="col-md-6 col-sm-6 col-lg-3">
                            <div class="member-details">
                                <div class="porfile-pic">
                                    <img src="img/content/team-member-4.jpg" alt="">

                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>

                                <h3><a href="#">Kate Jobs</a></h3>

                                <p class="title">Developer</p>

                                <p>Donec venenatis, turpis vel hendrerit interdum,
                                    dui ligula ultricies purus, sed posuere libero dui id orci.</p>

                            </div> <!-- end member-details -->
                        </div> <!-- end grid-layout -->
                    </div> <!-- end .row -->

                </div> <!-- end .about-us -->
            </div> <!-- end .page-content -->
        </div> <!-- end .container -->

    </div>
{% endblock %}