{% extends 'layout/layout.html.twig' %}
{% block body %}
    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div class="page-content company-profile">

                        <div class="tab-content">
                            <div class="tab-pane active" id="company-events">

                                <div class="company-events">

                                    <h2 class="text-uppercase mb30">Events</h2>

                                    <div class="post-with-image">
                                        <div class="date-month">
                                            <a href="#">
                                                <span class="date">12</span>
                                                <span class="month">Sep</span>
                                            </a>
                                        </div>

                                        <div class="post-image">
                                            <img src="img/content/blog-list-image1.jpg" alt="">
                                        </div>

                                        <h2 class="title"><a href="blog-post.html">This is Event title</a></h2>

                                        <p class="event-place">
                                            <a href="#"><i class="fa fa-globe"></i> Rome, Italy</a>
                                            <a href="#"><i class="fa fa-calendar"></i> 12 Sep, 2014</a>
                                            <a href="#"><i class="fa fa-clock-o"></i> 8 PM</a>
                                        </p>

                                        <p class="post">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
                                            suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                                            Phasellus pharetra nulla ac diam. Quisque semper.
                                        </p>

                                        <p class="tag">
                                            <i class="fa fa-tag"></i>
                                            <a href="#">Good,</a>
                                            <a href="#">Ui,</a>
                                            <a href="#">Experience,</a>
                                            <a href="#">Article</a>
                                        </p>

                                        <a class="post-read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

                                    </div> <!-- end .post-with-image -->

                                    <div class="post-with-image">
                                        <div class="date-month">
                                            <a href="#">
                                                <span class="date">12</span>
                                                <span class="month">Sep</span>
                                            </a>
                                        </div>

                                        <div class="post-image">
                                            <img src="img/content/blog-list-image2.jpg" alt="">
                                        </div>

                                        <h2 class="title"><a href="#">This is Event title</a></h2>

                                        <p class="event-place">
                                            <a href="#"><i class="fa fa-globe"></i> Rome, Italy</a>
                                            <a href="#"><i class="fa fa-calendar"></i> 12 Sep, 2014</a>
                                            <a href="#"><i class="fa fa-clock-o"></i> 8 PM</a>
                                        </p>

                                        <p class="post">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
                                            suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                                            Phasellus pharetra nulla ac diam. Quisque semper.
                                        </p>

                                        <p class="tag">
                                            <i class="fa fa-tag"></i>
                                            <a href="#">Good,</a>
                                            <a href="#">Ui,</a>
                                            <a href="#">Experience,</a>
                                            <a href="#">Article</a>
                                        </p>

                                        <a class="post-read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

                                    </div> <!-- end .post-with-image -->

                                    <div class="post-with-image">
                                        <div class="date-month">
                                            <a href="#">
                                                <span class="date">12</span>
                                                <span class="month">Sep</span>
                                            </a>
                                        </div>

                                        <div class="post-image">
                                            <img src="img/content/blog-list-image3.jpg" alt="">
                                        </div>

                                        <h2 class="title"><a href="#">This is Event title</a></h2>

                                        <p class="event-place">
                                            <a href="#"><i class="fa fa-globe"></i> Rome, Italy</a>
                                            <a href="#"><i class="fa fa-calendar"></i> 12 Sep, 2014</a>
                                            <a href="#"><i class="fa fa-clock-o"></i> 8 PM</a>
                                        </p>

                                        <p class="post">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
                                            suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                                            Phasellus pharetra nulla ac diam. Quisque semper.
                                        </p>

                                        <p class="tag">
                                            <i class="fa fa-tag"></i>
                                            <a href="#">Good,</a>
                                            <a href="#">Ui,</a>
                                            <a href="#">Experience,</a>
                                            <a href="#">Article</a>
                                        </p>

                                        <a class="post-read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

                                    </div> <!-- end .post-with-image -->




                                    <div class="post-with-image">
                                        <div class="date-month">
                                            <a href="#">
                                                <span class="date">12</span>
                                                <span class="month">Sep</span>
                                            </a>
                                        </div>

                                        <div class="post-image">
                                            <img src="img/content/blog-list-image2.jpg" alt="">
                                        </div>

                                        <h2 class="title"><a href="#">This is Event title</a></h2>

                                        <p class="event-place">
                                            <a href="#"><i class="fa fa-globe"></i> Rome, Italy</a>
                                            <a href="#"><i class="fa fa-calendar"></i> 12 Sep, 2014</a>
                                            <a href="#"><i class="fa fa-clock-o"></i> 8 PM</a>
                                        </p>

                                        <p class="post">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
                                            suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                                            Phasellus pharetra nulla ac diam. Quisque
                                        </p>

                                        <p class="tag">
                                            <i class="fa fa-tag"></i>
                                            <a href="#">Good,</a>
                                            <a href="#">Ui,</a>
                                            <a href="#">Experience,</a>
                                            <a href="#">Article</a>
                                        </p>

                                        <a class="post-read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

                                    </div> <!-- end .post-with-image -->


                                    <div class="post-with-image">
                                        <div class="date-month">
                                            <a href="#">
                                                <span class="date">12</span>
                                                <span class="month">Sep</span>
                                            </a>
                                        </div>

                                        <div class="post-image">
                                            <img src="img/content/blog-list-image1.jpg" alt="">
                                        </div>

                                        <h2 class="title"><a href="#">This is Event title</a></h2>

                                        <p class="event-place">
                                            <a href="#"><i class="fa fa-globe"></i> Rome, Italy</a>
                                            <a href="#"><i class="fa fa-calendar"></i> 12 Sep, 2014</a>
                                            <a href="#"><i class="fa fa-clock-o"></i> 8 PM</a>
                                        </p>

                                        <p class="post">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
                                            suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                                            Phasellus pharetra nulla ac diam. Quisque semper.
                                        </p>

                                        <p class="tag">
                                            <i class="fa fa-tag"></i>
                                            <a href="#">Good,</a>
                                            <a href="#">Ui,</a>
                                            <a href="#">Experience,</a>
                                            <a href="#">Article</a>
                                        </p>

                                        <a class="post-read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

                                    </div> <!-- end .post-with-image -->

                                </div> <!-- end .company-events -->
                            </div> <!-- end .tab-pane -->
                        </div> <!-- end .tab-content -->

                    </div> <!-- end .page-content -->

                </div> <!-- end .main-grid layout -->

                <div class="col-md-3 col-md-pull-9 category-toggle">
                    <button><i class="fa fa-briefcase"></i></button>
                    <div class="page-sidebar company-sidebar">

                        <ul class="company-category nav nav-tabs home-tab" role="tablist">
                            <li class="active">
                                <a href="#company-profile" role="tab" data-toggle="tab"><i class="fa fa-newspaper-o"></i> Profile</a>
                            </li>

                            <li>
                                <a href="#company-product" role="tab" data-toggle="tab"><i class="fa fa-cubes"></i>Product</a>
                            </li>

                            <li>
                                <a href="#company-portfolio" role="tab" data-toggle="tab"><i class="fa fa-file-image-o"></i>Portfolio</a>
                            </li>

                            <li>
                                <a href="#company-events" role="tab" data-toggle="tab"><i class="fa fa-list"></i>Events</a>
                            </li>

                            <li>
                                <a href="#company-blog" role="tab" data-toggle="tab"><i class="fa fa-keyboard-o"></i>blog</a>
                            </li>

                            <li>
                                <a href="#company-contact" role="tab" data-toggle="tab"><i class="fa fa-envelope-o"></i>Contact</a>
                            </li>
                        </ul>

                        <div class="own-company">
                            <a href="#"><i class="fa fa-question-circle"></i>Own This Company</a>
                        </div>

                        <div class="contact-details">
                            <h2>Contact Details</h2>

                            <ul class="list-unstyled">
                                <li>
                                    <strong>Name</strong>
                                    <span>Inductrie LLC</span>
                                </li>

                                <li>
                                    <strong>Founded</strong>
                                    <span>2011</span>
                                </li>

                                <li>
                                    <strong>Legal Entity</strong><span>Private</span>
                                </li>

                                <li>
                                    <strong>Turnover</strong>
                                    <span>$ 30 000 000</span>
                                </li>

                                <li>
                                    <strong>Employs</strong>
                                    <span>5 000</span>
                                </li>

                                <li>
                                    <strong>Full Address</strong>
                                    <span>San Francisco, USA</span>
                                </li>

                                <li>
                                    <strong>ZIP Code</strong>
                                    <span></span>
                                </li>

                                <li>
                                    <strong>Phone</strong>
                                    <span>*********<i class="fa fa-question-circle"></i></span>
                                </li>

                                <li>
                                    <strong>Fax</strong>
                                    <span>*********<i class="fa fa-question-circle"></i></span>
                                </li>

                                <li>
                                    <strong>Website</strong>
                                    <span>www.example.com</span>
                                </li>

                                <li>
                                    <strong>E-mail</strong>
                                    <span>email@example.com</span>
                                </li>

                            </ul>
                        </div>

                        <div class="opening-hours">
                            <h2>Openig Hours</h2>

                            <ul class="list-unstyled">
                                <li>
                                    <strong>Mo-Fr:</strong>
                                    <span>9AM-5PM</span>
                                </li>

                                <li>
                                    <strong>Sa:</strong>
                                    <span>10AM-3PM</span>
                                </li>

                                <li>
                                    <strong>Su:</strong>
                                    <span>Closed</span>
                                </li>
                            </ul>
                        </div>

                        <div class="square-button">
                            <a href="#"><img src="img/content/square-button.png" alt=""></a>
                            <a href="#"><img src="img/content/square-button.png" alt=""></a>
                            <a href="#"><img src="img/content/square-button.png" alt=""></a>
                            <a href="#"><img src="img/content/square-button.png" alt=""></a>
                        </div> <!-- end .sqare-button -->

                    </div> <!-- end .page-sidebar -->
                </div> <!-- end .main-grid layout -->
            </div> <!-- end .row -->

        </div> <!-- end .container -->

    </div>
{% endblock %}